type project
id PDFCreator.Utilities
authors pdfforge GmbH
description
    PDFCreator Utility classes
dependencies
	SystemInterface = LOCKEDVERSION
	SystemWrapper = LOCKEDVERSION
files
	bin/Release/PDFCreator.Utilities.dll ==> lib
references
	PDFCreator.Utilities.dll
