type project
id PDFCreator.Settings
authors pdfforge GmbH
description
    PDFCreator Settings classes
dependencies
	DataStorage = LOCKEDVERSION
	Translatable = LOCKEDVERSION
files
	bin/Release/PDFCreator.Settings.dll ==> lib
    settings.xml ==> content
    Enums/**/* => content/Enums
references
	PDFCreator.Settings.dll
