type project
id PDFCreator.Settings
authors pdfforge GmbH
description
    PDFCreator Settings classes
dependencies
	DataStorage = LOCKEDVERSION
	Translatable = LOCKEDVERSION
files
	bin/Release/PDFCreator.Settings.dll ==> lib
references
	PDFCreator.Settings.dll
