type file
id PDFCreator.Settings
authors pdfforge GmbH

description
    PDFCreator Settings classes

dependencies
	DataStorage = LOCKEDVERSION
	Translatable = LOCKEDVERSION
files
	../../build/tmp/PDFCreator/PDFCreator/PDFCreator.Settings.dll ==> lib
    ../../Source/Application/Conversion/Settings/settings.xml ==> content
    ../../Source/Application/Conversion/Settings/Enums/**/* => content/Enums
references
	PDFCreator.Settings.dll
